@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    /* --color-base: #466c32; */
    --color-base:hsl(187, 86%, 23%);
    /* --color-base2: #022a30; */
    --color-base2: #06262b;
  
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}
body
{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base),sans-serif; /* base font here "Bai Jamjuree" & backup fonr sans-serif */
   
}
/* for special effects  */
.special{    
    font-size: 60px;
    color: transparent; /* this line transparent for h1 */
    -webkit-text-stroke: 1px #ffea00; /* this line most IMP */
    background: url(../images/back.png);
    -webkit-background-clip: text; /* this is line over lap in img IMP */
    background-position: 0 0;
    animation: back 20s linear infinite; /* for animation parpas */
    margin-bottom: 4%; /* this is margin for btn and text */
}
@keyframes back{
    100%{
        background-position: 2000px;
    }
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 600;

}
a{
    text-decoration: none;
    color: var(--color-brand);

}
img{
    width: 100%;
}
.shadow-effect{
    transition: all 0.5s;
}
.shadow-effect:hover{
    box-shadow: -6px 10px 0 0 var(--color-brand);
}
.iconbox{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    background-color: var(--color-brand);
    color: var(--color-base);

}
/* Navbar section */
.navbar{
    background-color: var(--color-base);
}

.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

}
.navbar .nav-link:hover{
    color:var(--color-brand)
  
}
.nav-link:hover{
    background-color: #2d575d;
    border-radius: 20px;
    
}
img{
    height: 300px;
    width: 515px;
}
.text-brand{
    color: var(--color-brand);
}
.bg-base{
    background-color: var(--color-base);
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 88px;
    padding-bottom: 80px;
    border-bottom: 3px solid rgb(20, 146, 146,0.4);


}
.navbar .nav-link:hover{
    color: var(--color-brand);
}
.navbar .nav-link.active{
    color: var(--color-brand);
}
@media(min-width:990px)
{
    .navbar{
        min-height: 100vh;
        width: var(--sidbar-width);      
        background:  linear-gradient(rgba(64, 107, 107, 0.8),rgba(3,63,72,0.9)), url(../images/m.jpg), url(../images/m.jpg);
        /* linear-gradient(rgba(150,160,160,9),rgba(-70,63,72,0.9)), url(../images/m.jpg), url(../images/m.jpg) */
        background-size: cover;
        background-position: cover;
    }
    #content-wrapper{
        padding-left:var(--sidbar-width) ;
    }     
}
.navbar-brand img:hover{
    height: 290px;
    width: 495px;
}
.btn{
    padding:12px 25px;
    font-weight: 600;
}
.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
}
.custom-link{
    font-weight: 700;
    position: relative;
    /* padding-left: 30px; */
    /* for phone no*/
}
.custom-link::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}
.custom-link:hover{
    color: var(--color-brand);
    
}
.custom-link:hover::after{
    width: 100%;
    color: #deff58;
    
    
}

/* contact section */
#contact .form-control{
    background-color:var(--color-base);
    border-color: var(--color-base);
    color: var;
}
#contact .form-control:focus{
    border-color: var(--color-brand);
    box-shadow: none;
}
#contact .form-control::placeholder{
    color: var(--color-body);
}
#contact input.form-control{
    height: 50px;
}
/* Social icon designing */
.social-icons:hover{
    /* font-size: 50px; */
    color: var(--color-brand);
}
.social-icons a:hover{
    color: rgb(237, 123, 16);
}


.social-icons a{    
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 35px;

}
